@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    background: url(./pin102.jpg) no-repeat;
    background-size: cover;
}


header {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    border: none;
}

header h1 {
    font-family:sans-serif;
    font-size: 30px;
    color: ghostwhite;
}

.container {
    width: 35%;
    height: 95%;
    margin:auto;
    /* 
    
    border: 1.5px solid rgba(255, 255, 255, 0.18); */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 20px rgba(227, 228, 237, 0.35);
}

.loginf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-family: "Merriweather", serif;
    font-weight: lighter;
    font-style: italic;
    margin-top: 2%;
    margin-bottom: 1%;
    color: ghostwhite;
}

input[type='text'],
[type='email'],
[type='password'] {
    padding: 3%;
    width: 60%;
    border: none;
    box-shadow: 2px 1px 2px lightslategray;
    background:transparent;
    color: ghostwhite;
}

input::placeholder{
    color: black;
}
.btn{
    width: 12rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    background-color: lightblue;
}
button h5{
    font-size:small;
}

a{
    text-decoration: none;
    /* color:rgb(78, 65, 65); */
    color: ghostwhite;
}

.tags{
    display: flex;
    column-gap: 50px;
}

.bt{
    display: flex;
    /* flex-direction: column; */
    column-gap: 55px;
}