<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .one {
            font-size: 26px;
            color: slateblue;
        }

        .but {
            margin-top: 1%;
            width: 150px;
            height: 30px;
            border-radius: 20px;
            background-color: tomato;

        }
    </style>
</head>

<body>
    <center>
        <form method="post">
            <label class="one">Title</label><br />
            <input type="text" placeholder="Title" name="title"><br />
            <label class="one">Content</label></br>
            <textarea class="one">Content</textarea><br />
            <button class="but">Submit</button>
        </form>
    </center>
</body>

</html>