<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>

<body>
    <header>
        <h1>
            STUDENT PERSONAL RECORD MANAGER
        </h1>
    </header>

   <main>
    <div class="container">
        <div class="sign">
            <div class="one">
                <p>Get Started!!!!</p>
                <p>Join the community</p>
            </div>
            <div class="two">
                <a href="{{url_for('sign')}}"><button>Sign-in</button></a>
            </div>
        </div>
        <div class="log">
            <div class="three">
                <p>Already a member?</p>
                <p>Log-in to your account</p>
            </div>

            <div class="four">
                <a href=""><button>login</button></a>
            </div>
        </div>
    </div>
   </main>
</body>

</html>