<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>

<body>
    <header><h1>STUDENT SIGN-UP PAGE</h1></header>

    <!-- main part -->
    <main>

        <!-- form container -->
        <div class="container">
            <form method="post" class="loginf">

                <label for="one">Student Firstname</label>
                <input type="text" placeholder="Enter your fname" name="sfname" id="one">

                <label for="two">Student Lastname</label>
                <input type="text" placeholder="Enter your lname" name="slname" id="two">

                <label for="three">Email address</label>
                <input type="email" placeholder="Enter your email" name="email" id="three">

                <label for="four">Mobile Number</label>
                <input type="text" placeholder="Enter your number" name="phno" id="four">

                <label for="five">Password</label>
                <input type="password" placeholder="Enter password" name="passw" id="five">

                <label for="six">Re-enterPassword</label>
                <input type="password" placeholder="Renter password" name="passw" id="five">

                <div class="bt">
                    <button class="btn"><h5>Sign-in</h5></button>
                    <!-- <button class="btn"><h5>login-in</h5></button> -->
                </div>
                <div class="tags">
                    <a href="">
                        <h3>Already have an account</h3>
                    </a>
                    <a href="">
                        <h3>Forgot password</h3>
                    </a>
                </div>



            </form>
        </div>
    </main>
</body>

</html>