<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    * {
        box-sizing: border-box;
        margin: 0;
    }


    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: bisque;
    }

    .container p {
        margin-bottom: 0;
    }
    .container{
        background-color: whitesmoke;
        margin-top: 10%;
        width: 30%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 2%;
    }
</style>

<body>
    <div class="container">
        <form method="post">
            <p>ENTER YOUR OTP</p>
            <input type="text" placeholder="enter otp" name="verify"></br>
            <button>submit</button>

        </form>
    </div>
</body>

</html>